# Basics =======================================================================

.DS_Store
Thumbs.db
env_local.rb
*.swp
node_modules/
.vscode/

system/user/cache/*
!system/user/cache/index.html
!system/user/cache/.htaccess

system/user/config/*
system/user/config/database.php
!system/user/config/.htaccess
!system/user/config/license.key
!system/user/config/index.html

system/user/language/*
!system/user/language/index.html

!system/user/templates/index.html
!system/user/templates/.htaccess

themes/user/*
themes/ee/asset/javascript/compressed/


# Themes/Images ================================================================

media/*

images/captchas/*
!images/captchas/index.html
!images/captchas/.htaccess

images/avatars/*
!images/avatars/default/*
!images/avatars/index.html
!images/avatars/.htaccess

images/forum_attachments/*
!images/forum_attachments/index.html
!images/forum_attachments/.htaccess

images/member_photos/*
!images/member_photos/index.html
!images/member_photos/.htaccess

images/signature_attachments/*
!images/signature_attachments/index.html
!images/signature_attachments/.htaccess

images/pm_attachments/*
!images/pm_attachments/index.html
!images/pm_attachments/.htaccess

images/uploads/*
!images/uploads/index.html
!images/uploads/.htaccess

themes/third_party/

asset/*

.idea